<div class="formulaire">
  <div class="formulaire-content">
    <div>
      <h2>Information</h2>
      <%= simple_form_for(@cocktail) do |f| %>
      <%= f.text_field :name, placeholder: " Add a name"%>
      <% end %>
    </div>
  </div>
</div>


