.formulaire {
  background: white;
  padding: 120px;
  height: calc(100vh)
}

#formulaire-content {
  opacity: 0.95;
  width: 70%;
  border-radius: 3px;
  padding-top: 30px;
  padding-bottom: 50px;
}

#formulaire-ingredients {
  font-size: 14px;
}

#formulaire-image {
  margin-right: 150px;
}
